includes:
	- phpstan-baseline.neon
parameters:
    level: 5
    scanFiles:
        - where-did-they-go-from-here.php
    scanDirectories:
        - includes
    paths:
        - where-did-they-go-from-here.php
        - uninstall.php
        - includes/
    ignoreErrors:
